# /
/.project
/*.settings
/*.cache
/.buildpath
.DS_Store
/.sass-cache
/webroot/.sass-cache
/dist
/.tmp

# config
/config/core.php
/config/frontend.cfg.php
/config/paths.php

# webroot
/webroot/index.php

# tmp
/tmp

# node modules
/node_modules

# /webroot/
/webroot/files

# /webroot/img/
/webroot/img/.directory

# /webroot/js/libs/richtexteditors/conf/local
/webroot/js/libs/richtexteditors/conf/local/*
