@charset "utf-8";

/*

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

CSS Created by Chialab.it

http://www.chialab.it 2008

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

*/


@media screen and (min-width: 1280px) {
	.footer {clear:both; max-width: 100%; height:300px; background-color:#343434;}
									

	.be-download-2 > p{font-size:2.2em; line-height: 1.3em;}
	.be-download-2 > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.be-download-2{padding-top: 10%; padding-bottom:5%;}
	.be-download-2 > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.be-download-2 > p:nth-child(2){display: none;}
	.be-download-2 > p > a:hover {color:#acc600; }
	.be-download-2 > p a {color:#acc600; }
	.be-download-2 > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.puls{display: none;}
	.be-download-2 p:nth-child(6):after{background: url('../img/download.png') no-repeat; content: ''; display:inline-block; width: 60px; height:60px; text-indent: -9999px; margin:1% 0 0 5%;}
	.be-download-2 p:nth-child(6) > a{color:#acc600; width:300px;}
	.be-download-2 p:nth-child(6){margin-top:2%;}
	.top{width:100%;}
	.logo a img{max-width: 100%; height: auto; margin-top:1%; margin-left:85%; float:right; margin-right: 420px;}




/*...........................................    

				REFERENCES

...........................................*/


	.references > ul { list-style: none; margin: 2% 9.6%;}
	.references > ul > li{ font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
	.references > p{margin-left:10%; font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
	.references > ul > li > a{ color:#535353;}
	.references > ul > li > a:hover{ color:#e2007a; font-family: 'Titillium Web';}
	.references > h1{
		font-size: 5em;
		font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.references{padding-top:  10%;}
}



@media screen and (max-width: 1024px) {
	.footer {clear:both; max-width: 100%; height:400px; background-color:#343434;}
	.be-download-2 > p{font-size:1.8em; line-height: 1.3em;}
	.be-download-2 > h1{font-size: 4em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.be-download-2{padding-top: 10%; padding-bottom:5%;}
	.be-download-2 > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.be-download-2 > p:nth-child(2){display: none;}
	.be-download-2 > p > a:hover {color:#acc600; }
	.be-download-2 > p a {color:#acc600; }
	.be-download-2 > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.puls{display: none;}
	.be-download-2 p:nth-child(6):after{background: url('../img/download.png') no-repeat; content: ''; display:inline-block; width: 60px; height:60px; text-indent: -9999px; margin:1% 0 0 5%;}
	.be-download-2 p:nth-child(6) > a{color:#acc600; width:300px;}
	.be-download-2 p:nth-child(6){margin-top:2%;}

																							/*...........................................    

																										REFERENCES

																						...........................................*/


.references > ul { list-style: none; margin: 2% 9.6%; max-width:45%;}
.references > ul > li{ font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > p{margin-left:10%; font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > ul > li > a{ color:#535353;}
.references > ul > li > a:hover{ color:#e2007a; font-family: 'Titillium Web';}
.references > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
.references{padding-top: 10%;}
}
 
@media screen and (max-width: 768px) {
	.footer {clear:both; max-width: 100%; height:500px; background-color:#343434;}
	.be-download-2 > p{font-size:1.8em; line-height: 1.3em;}
	.be-download-2 > h1{font-size: 4em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.be-download-2{padding-top: 10%; padding-bottom:5%;}
	.be-download-2 > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.be-download-2 > p:nth-child(2){display: none;}
	.be-download-2 > p > a:hover {color:#acc600; }
	.be-download-2 > p a {color:#acc600; }
	.be-download-2 > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.puls{display: none;}
	.be-download-2 p:nth-child(6):after{background: url('../img/download.png') no-repeat; content: ''; display:inline-block; width: 60px; height:60px; text-indent: -9999px; margin:1% 0 0 5%;}
	.be-download-2 p:nth-child(6) > a{color:#acc600; width:300px;}
	.be-download-2 p:nth-child(6){margin-top:2%;}

																							/*...........................................    

																										REFERENCES

																						...........................................*/


.references > ul { list-style: none; margin: 2% 9.6%;}
.references > ul > li{ font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > p{margin-left:10%; font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > ul > li > a{ color:#535353;}
.references > ul > li > a:hover{ color:#e2007a; font-family: 'Titillium Web';}
.references > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
.references{padding-top: 20%;}
}


@media screen and (max-width: 480px) {
	body{background-color: red;}
	.footer {clear:both; max-width: 100%; height:700px; background-color:#343434;}
	.be-download-2 > p{font-size:1.0em; line-height: 1.3em;}
	.be-download-2 > h1{font-size: 2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.be-download-2{padding-top: 10%; padding-bottom:5%;}
	.be-download-2 > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.be-download-2 > p:nth-child(2){display: none;}
	.be-download-2 > p > a:hover {color:#acc600; }
	.be-download-2 > p a {color:#acc600; }
	.be-download-2 > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.puls{display: none;}
	.be-download-2 p:nth-child(6):after{background: url('../img/download.png') no-repeat; content: ''; display:inline-block; width: 60px; height:60px; text-indent: -9999px; margin:1% 0 0 5%;}
	.be-download-2 p:nth-child(6) > a{color:#acc600; width:300px;}
	.be-download-2 p:nth-child(6){margin-top:2%;}

																							/*...........................................    

																										REFERENCES

																						...........................................*/


.references > ul { list-style: none; margin: 2% 9.6%;}
.references > ul > li{ font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > p{margin-left:10%; font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > ul > li > a{ color:#535353;}
.references > ul > li > a:hover{ color:#e2007a; font-family: 'Titillium Web';}
.references > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
.references{padding-top: 10%;}
}
 


																						/*...........................................    

																						   			 General, elements

																						...........................................*/



BODY {
	height:auto;
}

P {margin-bottom:2%;}

OL, UL {list-style-position:outside;}

LI {margin-left: 10px;}

.textC UL {margin-left:13px; margin-bottom:8px;}

CODE {color:#FF4500;}

A {text-decoration:none;}

A {outline:0; }

:focus {
	outline: 0;
} 


HR {height:0px; border:0px; margin:10px 0px 10px 0px; border-top:1px solid gray}

INPUT, TEXTAREA {border: 1px solid #444444;}

																						/*...........................................    

																						    Typography

																						...........................................*/


BODY {font:"Georgia", serif;}

span{text-decoration:none;}

strong {font: "Georgia", serif;}

textarea, Input[type=text], Input[type=password] {
	border:1px solid silver;
	padding:0.35em;
	color:gray;
}




																						/*...........................................    

																						    Footer

																						...........................................*/

.footer {clear:both; background-color:#343434;}

.footel { max-height:20%; float:left; padding-top:1%; max-width:100%; height:auto;}

 
.footel LI {list-style-type:none; font-family:"Arial", sans-serif; font-size:12px; line-height:1.8em; padding:5px 10px 0px 10px; color:white; font-size: 1em; display:inline-block;}

.footel li p > a {background-color:#343434; background-image:url('');}

.footer > .footel > li > a > h3 {font:normal 14px "Georgia",serif; line-height:1.5em; font-size: 1.7em;}

.footer > .footel > li > h3 {font:normal 14px "Georgia",serif; line-height:1.5em; font-size: 1.7em;}


.footel LI A {text-decoration:none; color:white;}

.footel LI A:hover {color:white;}

.footel [title~=Licensing]{color:#2bb2d9;}

.footel [title~=Download] h3 {color:#acc600 ;}

.footel [title~=References] h3 {color:#c972a7 !important;}

.footer > .footel:nth-child(2) {padding-left: 8.9%;}

.footer > .footel:nth-child(3) h3{color:#ffed00;}

.footer > .footel:nth-child(4) h3:first-child{color:#ff7500;}

.footel:first-child{display: none;}

.toggle-menu{	
	background: url('../img/button.png');
	width:25px;
	height: 22px;}
																						/*...........................................    

																						    sitemap

																						...........................................*/


.sitemap UL {margin-left:20px; padding:10px}

.sitemap UL UL {border:1px solid silver;}

.sitemap LI {list-style:none}

																						/*.........................................

																							blog
																						..........................................*/
H2.post_description {font-style: italic; color: grey; font-size: 1.1em;}
H2.post_description p {color: grey;}

																						/*..........................................

																							Tags
																							
																						............................................*/
.smallestTag {font-size:1em;line-height:1em;}
	
.smallTag {font-size:1.2em;line-height:1em;}
	
.mediumTag {font-size:1.4em;line-height:1em;}
	
.largeTag {font-size:1.8em;line-height:1em;}
	
.largestTag {font-size:2.2em;line-height:1em;}


																						/*..........................................

																							Comments
																							
																						............................................*/

/*.commentContainer {padding: 5px; background-color: #efefef; margin: 0 0 2px 0; border-top: 1px solid #cfcfcf;}*/
.commentContainer {margin-top:20px;}
	
.commentform {
	margin-top:20px;	
}

.commentform LABEL {
	display:block;
}


																						/*...........................................
																						 
																						    Each Modules appearence from backend CSS to implement runtime loading

																						...........................................*/

/*.areas, .area, .section 	{background-color:#626151 !important;}
.documents, .document		{background-color:#ff6600 !important;}
.galleries, .gallery 		{background-color:#FFBF00 !important;}
.events, .event				{background-color:#0099CC !important;}
.newsletter 				{background-color:#99cc33 !important;}
.multimedia, .image, .audio, .video	{background-color:#ff0033 !important;}
.admin 						{background-color:#333333 !important;}
.tags 						{background-color:#336666 !important;}
.comments, .comment			{background-color:#F08080 !important;}
.translations				{background-color:#FF00FF !important;}
.addressbook, .card			{background-color:#009933 !important;}
.attachments 				{background-color:gray !important;}
.news, .shortnews 			{background-color:#003366 !important;}
.newsletter 				{background-color:#6666FF !important;}
.books, .book				{background-color:#996633 !important;}
.bibliographies, .bibliography {background-color:#999966 !important;}
.ecommerce 					{background-color:#771717 !important;}
.webmark, .webmarks 		{background-color:#6600cc !important;}
.questionnaires, .questions, .question	{background-color:#801f2b !important;}
.bookings, .booking 		{background-color:#99CC33 !important;}
.faq, .faqs 				{background-color:#CC3333 !important;}
.print 						{background-color:#CC9900 !important;}
.topography, .topographies 	{background-color:#993300 !important;}
.statistics, .stats 	{background-color:#788279 !important;}*/




/*former class modules*/
.moduli {
	display:block;
	font-size: 1.16em ;
	width:120px; height:120px; 
	padding:10px;
	margin-top:20px;
	background-color:#CCCCCC; 
	background-image: url(../img/sfomodulo.png);
	background-repeat:repeat-x;
	color:#FFFFFF;
	float:left;
	font-weight:normal;
	font-family:"Arial", sans-serif;
	margin-right:-80px;
}


																						/*...........................................    

																						    Typo stuff cripto e proto

																						...........................................*/


.test { 
text-shadow : 1px 1px 5px; 
}

.test h1 + p:first-line { 
/*font-variant : small-caps; */
font-size : 1.2em; 

}

.test p:first-child { 
font-weight : bold; 
}

/*
Border-radius
*/

#nav-sub { 
	border-radius : 10px; 
	-moz-border-radius : 10px; /* Mozilla */
	-webkit-border-radius : 10px; /* Webkit */
}

a[rel="alternate"] { 
padding-left : 20px; 
background : url(a-rss.png) no-repeat 0 50%; 
}

#nav-main a { 
text-shadow : #000 1px 1px 1px; 
}

#nav-sub { box-shadow : 0 0 5px #888; 
-webkit-box-shadow : 0 0 5px #888; 
}


div.message {margin: 10px 0;}
div.error {color: red;}
div.info {color: #9AAD56;}



/* 
	glossary - minimodal
*/

dfn.glossario, A.glossario {
	color:#336633;
	font-weight:bold;
	font-style:inherit;
}

dfn {
	color:#333;
	font-weight:bold;
	font-style:inherit;
}

.minimodal {
	position:absolute; 
	left:-30px;
	top:100px;
	z-index:500;
	width:320px;
	background: transparent url('../img/sfo_modal_mini.png') center 20px no-repeat;
	font-weight: 200;
}

.minimodal .modalcontent {
	min-height:60px;
	border:10px solid #cccccc;
	background-color: #fff;
	font-size:0.9em; 
	line-height:1.35em;
	padding:20px;
	margin:0px 20px 0px 20px;
/*
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
*/
}

.modalcontent H1 {
	padding-bottom:5px;
	border-bottom:0px solid #999;
	margin-bottom:10px;
	cursor:move;
	/*
font-style:italic;
*/
}

.minimodal .xclose {
	cursor:pointer;
	display:block;
	position:relative;
	background: transparent url('../img/ico_close.png') no-repeat right;
	top:20px;
	right:12px;
	height:25px;
}



																						/*...........................................    

																											LOGO / BANNER

																						...........................................*/

.banner{position:relative; left:8%; color:white; top:400px; font-size: 1.6em;}
.banner:hover{color:white;}
.events{display:none;}
.documents{display:none;}
.galleries{display:none;}
.tags{display:none;}
.strillo{display:none;}
.illustrazione{display:none;}




																						/*...........................................    

																											MENU

																						...........................................*/

.headmenu{position:fixed; right:0%; background-color: #e6e6e6; height: 100%; min-width:15%; padding-top:4%;}
.headmenu:after{background: url('../img/tree.png') no-repeat; content:''; display:block; width: 390px; height:851px; top:20%; background-position-x:0px; background-position-y:-45px; }
.menuP{list-style: none; width:300px; height: auto;}
.menuP > li{padding:2% 0% 9% 0%; font-size: 1.8em; font-family: 'Titillium Web';margin-left:0px;}
.menuP > li > a {padding-left: 3%; color:white;}

[title~=what-is-bedita]{background: url('../img/back-li-1.png') no-repeat; max-width: 100%; max-height: 100%; background-position:top left;}
[title~=news]{background: url('../img/back-li-4.png') no-repeat; max-width: 100%; max-height: 100%; background-position:top left;}
[title~=demo]{background: url('../img/back-li-2.png') no-repeat; max-width: 100%; max-height: 100%; background-position:top left;}
[title~=download-bedita]{background: url('../img/back-li-3.png') no-repeat; max-width: 100%; max-height: 100%; background-position:top left;}
[title~=documentation]{background: url('../img/back-li-5.png') no-repeat; max-width: 100%; max-height: 100%; background-position:top left;}
[title~=what-is-bedita] > a {font-variant: small-caps;}
[title~=news] > a {font-variant: small-caps;}
[title~=demo] > a {font-variant: small-caps;}
[title~=documentation] > a {font-variant: small-caps;}
[title~=download-bedita] > a {font-variant: small-caps;}






																						/*...........................................    

																											SUBSMENU

																						...........................................*/

.subdocs li:nth-child(5) {display:none;}
.subdocs li:nth-child(6) {display:none;}
.subdocs li:nth-child(7) {display:none;}
.subdocs li:nth-child(9) {display:none;}
.subdocs li:nth-child(8) {display:none;}
.subdocs a h1 {display: none;}
.content-main > .subdocs{display: none;}
.headmenu > .menuP > [title~=what-is-bedita] > .subdocs > ul > li > a {font-size: 0.8em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:0px; font-variant: none; color:#535353;}
.headmenu > .menuP > [title~=what-is-bedita] > .subdocs > ul > li {padding:2% 0% 2% 0%;}
.headmenu > .menuP > [title~=what-is-bedita] > .subdocs > ul {list-style: none; }
.headmenu > .menuP > [title~=what-is-bedita] > .subdocs {padding-top: 5%;}

.headmenu > .menuP > [title~=news] > .subdocs > ul > li > a {font-size: 0.8em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:0px; font-variant: none; color:#535353;}
.headmenu > .menuP > [title~=news] > .subdocs > ul > li {padding:2% 0% 2% 0%;}
.headmenu > .menuP > [title~=news] > .subdocs > ul {list-style: none; }
.headmenu > .menuP > [title~=news] > .subdocs {padding-top: 5%;}

.headmenu > .menuP > [title~=demo] > .subdocs > ul > li > a {font-size: 0.8em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:0px; font-variant: none; color:#535353;}
.headmenu > .menuP > [title~=demo] > .subdocs > ul > li {padding:2% 0% 2% 0%;}
.headmenu > .menuP > [title~=demo] > .subdocs > ul {list-style: none; }
.headmenu > .menuP > [title~=demo] > .subdocs {padding-top: 5%;}

.headmenu > .menuP > [title~=documentation] > .subdocs > ul > li > a {font-size: 0.8em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:0px; font-variant: none; color:#535353;}
.headmenu > .menuP > [title~=documentation] > .subdocs > ul > li {padding:2% 0% 2% 0%;}
.headmenu > .menuP > [title~=documentation] > .subdocs > ul {list-style: none; }
.headmenu > .menuP > [title~=documentation] > .subdocs {padding-top: 5%;}

.headmenu > .menuP > [title~=download-bedita] > .subdocs > ul > li > a {font-size: 0.8em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:0px; font-variant: none; color:#535353;}
.headmenu > .menuP > [title~=download-bedita] > .subdocs > ul > li {padding:2% 0% 2% 0%;}
.headmenu > .menuP > [title~=download-bedita] > .subdocs > ul {list-style: none; }
.headmenu > .menuP > [title~=download-bedita] > .subdocs {padding-top: 5%;}


																						/*...........................................    

																											WHAT IS BE..

																						...........................................*/



.what-does-bedita> p{font-size:2.2em; line-height: 1.3em;}
.what-does-bedita > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#e2007a; font-variant: small-caps;}	
.abstract{display: none;}
.what-does-bedita{padding-top: 10%; padding-bottom:5%;}
.what-does-bedita > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
.what-does-bedita > p:nth-child(2){display: none;}
.what-does-bedita > p > a {color:#535353;}
.what-does-bedita > p > a:hover {color:#535353;}
.what-does-bedita:after{background: url('../img/tree.png') no-repeat; content:''; display:block; width: 400px; max-height:100%; top:20%;}
.what-does-bedita p a, .what-does-bedita h1 a, .what-does-bedita h2 a{color:#e2007a;}











																						/*...........................................    

																										REFERENCES

																						...........................................*/


.references > ul { list-style: none; margin: 2% 9.6%;}
.references > ul > li{ font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > p{margin-left:10%; font-size: 1.7em; color:#535353; font-family: 'Titillium Web';}
.references > ul > li > a{ color:#535353;}
.references > ul > li > a:hover{ color:#e2007a; font-family: 'Titillium Web';}
.references > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
.references{padding-top: 10%;}





/*................................................................................................................................................................................................ 

																										DEMO

...............................................................................................................................................................................................*/



/*................................................................................................................................................................................................ 

																										SUPPORT

...............................................................................................................................................................................................*/


																						/*...........................................    

																										OVERVIEW

																						...........................................*/




.overview > p{font-size:2.2em; line-height: 1.3em;}
	.overview > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.overview{padding-top: 10%; padding-bottom:5%;}
	.overview > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.overview > p:nth-child(2){display: none;}
	.overview > p > a:hover {color:#acc600; }
	.overview > p a {color:#acc600; }
	.overview > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.overview ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.overview > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.overview ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.overview ul li a{color:#c972a7;}



																						/*...........................................    

																											FAQs

																						...........................................*/




	.faq > p{font-size:2.2em; line-height: 1.3em;}
	.faq > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.faq{padding-top: 10%; padding-bottom:5%;}
	.faq > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.faq > p:nth-child(2){display: none;}
	.faq > p a {color:#c972a7; background: none !important}
	.faq > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.faq ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.faq > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.faq ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.faq ul li a{color:#c972a7;}
	.faq ul{list-style: none;}


																						/*...........................................    

																											FRAMEWORKS

																						...........................................*/




	.framework-overview > p{font-size:2.2em; line-height: 1.3em;}
	.framework-overview > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.framework-overview{padding-top: 10%; padding-bottom:5%;}
	.framework-overview > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.framework-overview > p:nth-child(2){display: none;}
	.framework-overview > p a {color:#c972a7; background: none !important}
	.framework-overview > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.framework-overview ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.framework-overview > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.framework-overview ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.framework-overview ul li a{color:#c972a7;}
	.framework-overview ul{list-style: none;}


																						/*...........................................    

																											REQUIREMENT

																						...........................................*/




	.requirements > p{font-size:2.2em; line-height: 1.3em;}
	.requirements > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.requirements{padding-top: 10%; padding-bottom:5%;}
	.requirements > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.requirements > p:nth-child(2){display: none;}
	.requirements > p a {color:#c972a7; background: none !important}
	.requirements > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.requirements ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.requirements > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.requirements ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.requirements ul li a{color:#c972a7;}
	.requirements ul{list-style: none;}




																						/*...........................................    

																											DOCUMENTATION

																						...........................................*/




	.documentation-articles > p{font-size:2.2em; line-height: 1.3em;}
	.documentation-articles > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.documentation-articles{padding-top: 10%; padding-bottom:5%;}
	.documentation-articles > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.documentation-articles > p:nth-child(2){display: none;}
	.documentation-articles > p a {color:#c972a7; background: none !important}
	.documentation-articles > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.documentation-articles ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.documentation-articles > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.documentation-articles ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.documentation-articles ul li a{color:#c972a7;}
	.documentation-articles ul{list-style: none;}





																						/*...........................................    

																											REQUIREMENT

																						...........................................*/




	.frontend-folder-structure > p{font-size:2.2em; line-height: 1.3em;}
	.frontend-folder-structure > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.frontend-folder-structure{padding-top: 10%; padding-bottom:5%;}
	.frontend-folder-structure > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.frontend-folder-structure > p:nth-child(2){display: none;}
	.frontend-folder-structure > p a {color:#c972a7; background: none !important}
	.frontend-folder-structure > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.frontend-folder-structure ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.frontend-folder-structure > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.frontend-folder-structure ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.frontend-folder-structure ul li a{color:#c972a7;}
	.frontend-folder-structure ul{list-style: none;}





																						/*...........................................    

																										MY FIRST FRONTEND

																						...........................................*/



	.my-first-frontend > p{font-size:2.2em; line-height: 1.3em;}
	.my-first-frontend > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#c972a7; font-variant: small-caps;}	
	.my-first-frontend{padding-top: 10%; padding-bottom:5%;}
	.my-first-frontend > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.my-first-frontend > p:nth-child(2){display: none;}
	.my-first-frontend > p a {color:#c972a7; background: none !important}
	.my-first-frontend > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.my-first-frontend ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.my-first-frontend > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.my-first-frontend ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.my-first-frontend ul li a{color:#c972a7;}
	.my-first-frontend ul{list-style: none;}
	pre{margin:1% 0 1% 10%; background-color:#b0b0b0; width:70%;}



/*................................................................................................................................................................................................ 

																											DOWNLOAD

...............................................................................................................................................................................................*/



																						/*...........................................    

																											TRANSLATION

																						...........................................*/




	.translation-packages > p{font-size:2.2em; line-height: 1.3em;}
	.translation-packages > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.translation-packages{padding-top: 10%; padding-bottom:5%;}
	.translation-packages > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.translation-packages > p:nth-child(2){display: none;}
	.translation-packages > p > a:hover {color:#acc600; }
	.translation-packages > p a {color:#acc600; }
	.translation-packages > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.translation-packages ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.translation-packages > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.translation-packages ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.translation-packages ul li a{color:#c972a7;}


																						/*...........................................    

																											INSTALLATION

																						...........................................*/


	.installation-and-management > p{font-size:2.2em; line-height: 1.3em;}
	.installation-and-management > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.installation-and-management{padding-top: 10%; padding-bottom:5%;}
	.installation-and-management > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.installation-and-management > p:nth-child(2){display: none;}
	.installation-and-management > p > a:hover {color:#acc600; }
	.installation-and-management > p a {color:#acc600; }
	.installation-and-management > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.installation-and-management ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.installation-and-management > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.installation-and-management ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.installation-and-management ul li a{color:#c972a7;}
	

																						/*...........................................    

																											ALTRUISM

																						...........................................*/


	.altruism > p{font-size:2.2em; line-height: 1.3em;}
	.altruism > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.altruism{padding-top: 10%; padding-bottom:5%;}
	.altruism > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.altruism > p:nth-child(2){display: none;}
	.altruism > p > a:hover {color:#acc600; }
	.altruism > p a {color:#acc600; }
	.altruism > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.altruism ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.altruism > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.altruism ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.altruism ul li a{color:#c972a7;}
	

																						/*...........................................    

																											ALTRUISM

																						...........................................*/


	.astroturfd > p{font-size:2.2em; line-height: 1.3em;}
	.astroturfd > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.astroturfd{padding-top: 10%; padding-bottom:5%;}
	.astroturfd > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.astroturfd > p:nth-child(2){display: none;}
	.astroturfd > p > a:hover {color:#acc600; }
	.astroturfd > p a {color:#acc600; }
	.astroturfd > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.astroturfd ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.astroturfd > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.astroturfd ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.astroturfd ul li a{color:#c972a7;}

	

																						/*...........................................    

																											BOOKISH

																						...........................................*/


	.bookish > p{font-size:2.2em; line-height: 1.3em;}
	.bookish > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.bookish{padding-top: 10%; padding-bottom:5%;}
	.bookish > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.bookish > p:nth-child(2){display: none;}
	.bookish > p > a:hover {color:#acc600; }
	.bookish > p a {color:#acc600; }
	.bookish > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.bookish ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.bookish > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.bookish ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.bookish ul li a{color:#c972a7;}

	

																						/*...........................................    

																											MIMBO

																						...........................................*/


	.mimbo > p{font-size:2.2em; line-height: 1.3em;}
	.mimbo > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.mimbo{padding-top: 10%; padding-bottom:5%;}
	.mimbo > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.mimbo > p:nth-child(2){display: none;}
	.mimbo > p > a:hover {color:#acc600; }
	.mimbo > p a {color:#acc600; }
	.mimbo > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.mimbo ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.mimbo > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.mimbo ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.mimbo ul li a{color:#c972a7;}

	
																						/*...........................................    

																											ZENLIKE

																						...........................................*/


	.zenlike > p{font-size:2.2em; line-height: 1.3em;}
	.zenlike > h1{font-size: 5em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; color:#acc600; font-variant: small-caps;}	
	.zenlike{padding-top: 10%; padding-bottom:5%;}
	.zenlike > p, .textC > h2 {font-size: 2.2em; font-family: 'Titillium Web'; font-weight: lighter; margin-left:10%; font-variant: none; font-style: none; color:#535353; line-height: 1.3em; width:55%; margin-bottom:0px;}
	.zenlike > p:nth-child(2){display: none;}
	.zenlike > p > a:hover {color:#acc600; }
	.zenlike > p a {color:#acc600; }
	.zenlike > h3{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.zenlike ol li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.zenlike > h4{ margin-left:10%; color:#535353; font-family: 'Titillium Web'; font-size: 2.2em; margin-top: 2%;}
	.zenlike ul li{font-size:2.2em; line-height: 1.3em; font-family: 'Titillium Web'; font-weight: lighter; color:#535353; margin:1% 0 1% 13%;}
	.zenlike ul li a{color:#c972a7;}

	