BODY {font:14px/1.313em "Georgia", serif; 
width:520px;
padding:20px;
}

H1 	{font:1.5em "Georgia", serif; margin-bottom:0px;}

H2 {font:normal 1.2em "Georgia", serif; margin-top:10px; margin-bottom:4px; color:#239bd2}

H3 {font:normal 1em "Georgia", serif;  margin-top:10px; margin-bottom:0px; color:#cc0000}

strong {font:normal 1.15em "Georgia", serif; color:#000;}

P {margin:0px;}

HR {height:0px; border:0px; margin:10px 0px 10px 0px; border-top:1px solid gray}

.header {margin:-20px 0px 10px 0px;}
